.form__submit {
    width: 350px;
    padding: 33px 120px;
    background-color: #ed8200;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 164px;
    border: none;
    outline: none;
    cursor: pointer;
}