.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 800;
  font-size: 36px;
  color: #fff;
}

.header__menu {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px; 
}

.header__socials {
    display: flex;
    align-items: center;
}