.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__item {
      margin-right: 60px;
      font-size: 16px;
      color: #fff;

      &last-child {
          margin-right: 0;
      }
  }