.me-reviews {
    width: 70%;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.reviews-title {
    margin-top: 151px;
    margin-bottom: 101px;
    color: #fff;
}

.reviews__slider {
    display: flex;
}

.reviews__slider-item {
    // flex-shrink: 0;
    // width: 50%;
    margin-right: 157px;
    
    &:last-child {
        margin-right: 0;
    }
}

.reviews__leaf {
    position: absolute;
    top: 0;
    right: 0;
}