.skill {
    width: 200px;
    height: 200px;
    fill: transparent;
    stroke: #706a65;
    stroke-width: 4px;
    position: relative;
}

.skill__circle--under {
    stroke-width: 4px; 
}

.skill__circle--above {
    stroke-width: 9px;
    stroke: #ee8200; 
    stroke-dasharray: 251;
    stroke-dashoffset: 103;
    // transform: rotate(180deg);
}

.skill__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}