.values {
    background: url('~images/bg/values.jpg') center center no-repeat / cover;
    color: #fff;
    padding: 150px 96px 146px 504px;
    position: relative;     
}

.values__title-text {
    margin-bottom: 60px;
    color: #fff;
}

.values__desc {
    margin-bottom: 130px;
    max-width: 600px;
    color: #706a65;
    font-size: 16px;
}

.values::after {
    content: url('~images/content/hands.png');
    position: absolute;
    left: 0;
    top: 455px;
    display: block;
}