//- section.parallax
//-     .parallax__layer
//-         img(src=require("images/parallax/parallax1.jpg")).parallax__image
//-     .parallax__layer
//-         img(src=require("images/parallax/parallax2.jpg")).parallax__image
//-     .parallax__layer
//-         img(src=require("images/parallax/parallax3.jpg")).parallax__image
//-     .parallax__layer
//-         img(src=require("images/parallax/parallax4.jpg")).parallax__image